AUTHOR=

MONGO_USERNAME=
MONGO_PASSWORD=
MONGO_CLUSTER_NAME=
MONGO_DATABASE_NAME=
# if MONGO_URI is set, variables username password cluster name are overwritten
MONGO_URI=

LOCAL_SERVER_HOSTNAME=
LOCAL_SERVER_PORT=

# separate multi-origins by ","
CORS_WHITELIST_ORIGINS=

WEBSITE_DOMAIN=

BREVO_API_KEY=
BREVO_EMAIL_ADDRESS=
BREVO_EMAIL_NAME=

ACCESS_TOKEN_SECRET_SIGNATURE=
ACCESS_TOKEN_LIFE=

REFRESH_TOKEN_SECRET_SIGNATURE=
REFRESH_TOKEN_LIFE=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=